.nuxt-wrapper {
  background-image: url("~static/bg-cubes.png");
  background-color: $grey01;
}

.layout-wrapper {
  max-width: 1200px;
  margin: auto;
}

.bg-grey09 {
  background-color: $grey09;
}
.bg-grey08 {
  background-color: $grey08;
}
.bg-grey07 {
  background-color: $grey07;
}
.bg-grey06 {
  background-color: $grey06;
}
.bg-grey05 {
  background-color: $grey05;
}
.bg-grey04 {
  background-color: $grey04;
}
